#darkOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
#Button {
   background-color: rgb(39, 88, 220);
    height: 200px;
    width: 200px;
    

}